<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:context="http://www.springframework.org/schema/context"
             xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">
    <!--配置忽略规则-->
    <http pattern="/favicon.ico" security="none"></http>
    <http pattern="/register.html" security="none"></http>
    <http pattern="/seller/add.do" security="none"></http>
    <http pattern="/shoplogin.html" security="none"></http>
    <http pattern="/css/**" security="none"></http>
    <http pattern="/js/**" security="none"></http>
    <http pattern="/plugins/**" security="none"></http>
    <http pattern="/img/**" security="none"></http>

    <!--配置拦截规则-->
    <http use-expressions="false">
        <!--拦截地址以及需要的权限-->
        <intercept-url pattern="/**" access="ROLE_SELLER"></intercept-url>
        <!--如果不具备该角色，则跳转到登录页-->
        <form-login login-page="/shoplogin.html" authentication-failure-url="/shoplogin.html" default-target-url="/admin/index.html"
                    always-use-default-target="true"></form-login>
        <!-- 关闭跨站攻击校验-->
        <csrf disabled="true"></csrf>
        <!--开启框架验证，子页面具有和父页面相同的验证规则-->
        <headers>
            <!--SAMEORIGIN：frame页面的地址只能为同源域名下的页面-->
            <frame-options policy="SAMEORIGIN"/>
        </headers>
        <logout></logout>
    </http>
    <!--配置认证管理器-->

    <context:property-placeholder location="classpath*:properties/*.properties"></context:property-placeholder>
    <!--注册客户端名称-->
    <dubbo:application name="dongyimai-shop-web"></dubbo:application>
    <!--注册服务器地址-->
    <dubbo:registry address="${dubbo.address}"></dubbo:registry>
    <!--调用注册服务的组件扫描-->
    <dubbo:annotation package="com.xxx.proj.controller"></dubbo:annotation>
<dubbo:reference interface="com.xxx.proj.service.SellerService" id="sellerService"></dubbo:reference>
    <beans:bean class="com.xxx.proj.service.impl.UserDetailServiceImpl" id="userDetailService">
        <beans:property name="sellerService" ref="sellerService"></beans:property>
    </beans:bean>
    <beans:bean class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"
                id="bCryptPasswordEncoder"></beans:bean>

    <authentication-manager>
        <authentication-provider user-service-ref="userDetailService">
            <password-encoder ref="bCryptPasswordEncoder"></password-encoder>
        </authentication-provider>
    </authentication-manager>
</beans:beans>